.title {
	margin: 50px 0;
	font-weight: bold;
	font-size: 25px;
	color: black;
}

.products_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	color:black;
}

@media (max-width: 500px) {
	.products_container {
		grid-template-columns: 1fr;
		color: black;
	}
}

.product_card {
	padding: 20px;
	color: black;
}

.product_content h3 {
	margin: 5px 0;
	color:black;
}